- name: "megafono : setup hosts to megafono.development"
  tags:
    - megafono
  win_lineinfile:
    dest: C:\Windows\system32\drivers\etc\hosts
    regexp: "127.0.0.1\t{{ item }}"
    line: "127.0.0.1\t{{ item }}"
  when: is_windows
  with_items:
    - megafono.development
    - cockpit.megafono.development
    - www.megafono.development
    - id.megafono.development
    - old.megafono.development
    - megafono.development.br
    - cockpit.megafono.development.br
    - www.megafono.development.br
    - id.megafono.development.br
    - old.megafono.development.br

