- name: "zsh : linux : install"
  tags:
    - zsh
  become: True
  package:
    name:
      - zsh
    state: latest
  when: is_linux

- name: "zsh : macos : install"
  tags:
    - zsh
  community.general.homebrew:
    name: zsh
  when: is_macos

- name: "zsh : create directories"
  tags:
    - zsh
    - zsh-config
    - antigen
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - ~/.zsh
    - ~/bin
    - ~/.antigen
  when: is_linux or is_macos

- name: "zsh : install antigen"
  tags:
    - zsh
    - zsh-config
    - antigen
  get_url:
    url: https://git.io/antigen
    dest: ~/.antigen/antigen.zsh
  when: is_linux or is_macos

- name: "zsh : uninstall default p10k"
  tags:
    - zsh
    - zsh-config
    - p10k
  become: True
  package:
    name:
      - manjaro-zsh-config
      - zsh-theme-powerlevel10k
    state: absent
  when: is_arch

- name: "zsh : arch :  install p10k"
  tags:
    - zsh
    - p10k
  yay:
    name:
      - zsh-theme-powerlevel10k-git
    state: latest
  when: is_arch

- name: "zsh : macos : install p10k"
  tags:
    - zsh
    - p10k
  git:
    repo: https://github.com/romkatv/powerlevel10k.git
    dest: ~/powerlevel10k
    depth: 1
  when: is_macos

- name: "zsh : link .zshrc"
  tags:
    - zsh
    - zsh-config
  file:
    src: "~/.dotfiles/zsh/files/zshrc"
    dest: "~/.zshrc"
    state: link
    force: yes
  when: is_linux or is_macos

- name: "zsh : link .p10k"
  tags:
    - zsh
    - p10k
    - zsh-config
  file:
    src: "~/.dotfiles/zsh/files/p10k.zsh"
    dest: "~/.p10k.zsh"
    state: link
    force: yes
  when: is_linux or is_macos

- name: "zsh : link configuration"
  tags:
    - zsh
    - zsh-config
  file:
    src: "~/.dotfiles/zsh/files/{{ item }}.zsh"
    dest: "~/.zsh/{{ item }}.zsh"
    state: link
    force: yes
  with_items:
    - 0000_before
    - 0_path
    - aliases
    - antigen
    - asdf
    - history
    - k8s
    - editor
    - ledger
  when: is_linux or is_macos

- name: "zsh : install kube_alias"
  tags:
    - kube
    - zsh
  when: is_linux or is_macos
  get_url:
    url: https://raw.githubusercontent.com/ahmetb/kubectl-aliases/master/.kubectl_aliases
    dest: ~/.kubectl_aliases

- name: "zsh : macos : fzf"
  tags:
    - zsh
  community.general.homebrew:
    name: fzf
  when: is_macos

- name: "zsh : macos : yq"
  tags:
    - zsh
  community.general.homebrew:
    name: yq
  when: is_macos
